In [1]:
import pandas as pd
import json

# Load the data
df = pd.read_csv('../seeds/charge_back_report_raw.csv')

df.dtypes

external_ref    object
status            bool
source          object
chargeback        bool
dtype: object

In [2]:
df.head()

            external_ref  status     source  chargeback
0  _-UTDS0dMlagMWEtQKMy-    True  GLOBALPAY       False
1  _0fqf75KiPa0iiviKCSsU    True  GLOBALPAY       False
2  _0H9Ecd_RctsLetId-p14    True  GLOBALPAY       False
3  _0wBrMzAzIhO3fQRWUcBH    True  GLOBALPAY       False
4  _25jZuGDrmwUEdAwKp1xV    True  GLOBALPAY       False

In [5]:
# Total rows for overview
print(f"Total records: {df.shape[0]}")

# Check for nulls
print(df.isnull().sum())

# Check for dups (external references look like they should be unique)
print(f"Duplicate external refs: {df['external_ref'].duplicated().sum()}")

Total records: 5430
external_ref    0
status          0
source          0
chargeback      0
dtype: int64
Duplicate external refs: 0

In [7]:
from IPython.display import display

cols_to_check = ['status', 'source', 'chargeback']

for col in cols_to_check:
    print(f"Distribution for: {col}")
    display(df[col].value_counts().to_frame())

Distribution for: status

        count
status
True     5430

Distribution for: source

           count
source
GLOBALPAY   5430

Distribution for: chargeback

            count
chargeback
False        5207
True          223